/* thai */
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 300;
  src: local('Mitr Light'), local('Mitr-Light'), url('../../fonts/Mitr/Mitr-Light.ttf') format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* thai */
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 400;
  src: local('Mitr Regular'), local('Mitr-Regular'), url('../../fonts/Mitr/Mitr-Medium.ttf') format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* thai */
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 500;
  src: local('Mitr Medium'), url('../../fonts/Mitr/Mitr-Regular.ttf') format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}


/* latin */
@font-face {
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 500;
  src: local('Mitr Medium'), local('Mitr-Medium'), url('../../fonts/Roboto/Roboto-Medium.ttf') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}