* {
  font-family: 'Mitr', sans-serif;
  color: #00171F;
}

a {
  color: #00171F;
  text-decoration: none;
  transition: 0.3s color ease-out;
}

a img {
  opacity: 1;
  transition: 0.3s opacity ease-out;
}

a:hover,
a:focus {
  color: #00171F;
  text-decoration: none;
}

a img:hover,
a img:focus {
  opacity: 0.8;
}

.title {
  font-size: 17px;
  font-weight: 500;
  color: #00171F;
}

.detail {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
  color: rgb(87, 87, 87);
}

select,
option {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 2px 10px;
  background: #fff;
}

select:focus,
select:hover {
  outline: none;
}