button {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #00A8E8;
  padding: 5px 20px;
  transition: 0.3s opacity ease-out, 0.3s box-shadow ease-out, 0.3s color ease-out;
  background: #00A8E8;
}

button a,
button i,
button span {
  color: #fff;
}

button:hover,
button:focus {
  outline: none;
  box-shadow: 0 0 1px 0px #fff;
  color: #00171F;
  opacity: 0.8;
}