input,
textarea {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 5px 15px;
  font-size: 14px;
}

input:focus,
textarea:focus {
  box-shadow: none;
  outline: none;
}

textarea {
  padding: 10px 15px;
  border-radius: 5px;
}