.article-title {
  font-size: 20px;
  font-weight: 400;
  color: #003459;
  padding: 15px 0;
}

.article .col {
  padding-left: 0;
  padding-right: 0;
}

.article-content {
  font-size: 14px;
  border-radius: 5px;
}

.article-content img {
  width: 100%;
  object-fit: cover;
}

.article-content a {
  color: #00A8E8;
}

.article-footer {
  background: #00171F;
  padding: 15px 20px;
  border-radius: 5px;
}

.article-footer * {
  color: #cecece !important;
}

.article-panel button,
.article-panel a {
  border-radius: 5px;
  color: #f2f2f2;
}


.artile-list .title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  display: inline-block;
  border-bottom: 3px solid #007EA7;
}