.create .row {
  display: flex;
  align-items: center;
}

.create .fr-view {
  min-height: 30vh !important;
}

.create .head input {
  border-radius: 5px;
}

.create textarea {
  min-height: 150px;
  height: 30vw;
  max-height: 300px;
}

.create #article {
  border-radius: 5px;
}

.create .article-type select,
.create .article-type option {
  text-align: center;
  width: 200px;
}

.create a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
  display: none !important;
}


.btn-wrapper input[type=file] {
  cursor: pointer;
  font-size: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
}

.create .article-upload #imageUpload {
  border: none;
  padding: 0;
  border-radius: 0;
  /* display: none; */
}

.create .btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.create .btn-wrapper .button {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  background: none !important;
}

.create .btn-wrapper button {
  width: 200px;
  border-radius: 5px;
  padding: 2px 15px;
  color: #00171F !important;
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #fff;
  text-align: left;
}

.create .btn-wrapper i {
  color: #000 !important;
}

.btn-wrapper input[type=file] {
  cursor: pointer;
  font-size: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
}

.create .article-upload #imageUpload {
  border: none;
  padding: 0;
  border-radius: 0;
  /* display: none; */
}

.fr-toolbar *,
.fr-popup button * {
  color: #00171F !important;
}


.image-wrapper {
  height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#imagePreview {
  width: 90px;
  height: 90px;
  position: relative;
  /* border-radius: 100%; */
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  /* background: url('../../../images/upload.png'); */
  background-size: cover;
}