.article-list {
  background: #f7f7f7;
  /* padding: 0 25px; */
  border-radius: 5px;
}

.article-list-item:last-child {
  box-shadow: none;
}

.article-list-item {
  margin: 20px 0;
  padding: 20px 0 20px 0;
  box-shadow: 0 1px 0 0 rgb(212, 212, 212);
}

.article-list-container .row div {
  padding-left: 0;
}

.article-list-container .list-image img {
  height: 100%;
  width: 100px;
  object-fit: cover;
  transition: opacity 0.3s ease-out;
  box-shadow: 0 1px 2px 0 #4d4d4d;
  border-radius: 5px;
}

.article-list-container .list-image img:hover,
.article-list-container .list-image img:focus {
  opacity: 0.8;
}

.article-list-container .list-title a {
  color: #00171F;
  transition: opacity 0.3s ease;
}

.article-list-container .list-detail a {
  color: rgb(110, 110, 110);
  font-size: 12px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 25px;
  max-height: 50px;
  transition: opacity 0.3s ease;
}


.article-list-container a:hover {
  opacity: 0.8;
}

.article-list-container .list-navigator span:first-child {
  color: rgb(68, 68, 68);
  font-weight: 400;
}

.article-list-container .list-navigator span:last-child a {
  font-size: 15px;
  font-weight: 300;
  color: #00A8E8;
  transition: opacity 0.3s ease-out;
}

.article-list-container .list-navigator a:hover,
.article-list-container .list-navigator a:focus {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .article-list-item {
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
  }

  .list-title {
    margin-top: 20px;
  }
}