.slider {
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #00171F;
  /* box-shadow: 0 1px 3px #00171F; */
}

.slider * {
  border-radius: 5px;
}

.slider img {
  min-height: 200px;
  height: 30vw;
  max-height: 300px;
  object-fit: cover;
}

.slider .carousel-float {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1vh 5vw;
  background: linear-gradient(rgba(0, 23, 31, 0.7), rgba(0, 23, 31, 0.5));
  border-radius: 0;
}

.slider .carousel-float .detail {
  color: #fff;
  overflow: hidden;
  line-height: 22px;
  max-height: 66px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.slider .carousel-float .detail::after {
  content: " ...";
}