.footer {
  margin-top: 5vh;
  padding-bottom: 5vh;
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7)); */
  border-radius: 5px;
}

.footer .slider img {
  max-height: 200px;
  height: 20vw;
  object-fit: cover;
  /* max-height: 400px; */
}

.footer .title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  display: inline-block;
  border-bottom: 3px solid #007EA7;
}