.all h2 {
    margin-top: 3%;
    color: rgb(116, 116, 116);
}

.dev-profile {
    display: block;
    display: inline-block;
}

.dev-profile img {
    width: 200px;
    height: 200px;
    margin-right: 10%;
    margin-top: 4%;
    border-radius: 100%;
    border: 6px solid rgb(90, 89, 89);
    object-fit: cover;
    overflow: hidden;
}

.box-info {
    background-color: rgba(204, 204, 204, 0.507);
    border-radius: 1.5vw;
    margin-top: 4%;
    width: 700px;
}

.box-info a {
    display: inline-block;
    font-size: 20px;
}

.box-info i {
    font-size: 40px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
}

#face {
    color: darkblue;
}
#linkedin {
    color: rgb(1, 183, 255);
}
#insta {
    color: #e4405f;
}
#mail {
    color: red;
}