.navbar .brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.navbar .brand>div:last-child {
  text-align: left;
  width: 100%;
  padding-left: 10px;
}

.navbar .brand a {
  color: #fff;
}