.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header .navbar {
  width: 100%;
  background: #00171F;
  min-height: 70px;
  box-shadow: 0 0.5px 2px 0 #cccccc !important;

}

.header .navbar .row,
.header .navbar .container {
  width: 100%;
  height: 100%;
}

.header .navbar .row {
  align-items: center;
  display: flex;
}

.header .navbar .brand {
  height: 100%;
}

.header .navbar .brand img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}