.navbar .menu {
  text-align: right;
}

.navbar .menu i {
  cursor: pointer;
  font-size: 25px !important;
  transform: translateY(2px);
  transition: 0.3s opacity ease-out;
  color: #fff;
}

.navbar .menu .dropdown-content i {
  font-size: 18px !important;
}

.navbar .menu i:hover,
.navbar .menu i:focus {
  opacity: 0.8;
}

.navbar .menu .dropdown-content {
  padding-top: 21px;
  right: 0;
}

.navbar .menu:hover .dropdown-content {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}