.navbar .search {
  width: 100%;
  position: relative;
}

.navbar .search input {
  width: 100%;
}

.navbar .search button {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar .search .submit-icon {
  width: 10px;
  display: inline !important;
  background: none;
  border: none;
}