.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  min-width: 160px;
  z-index: 1;
  transform: translateY(-10px);
  transition: visibility 0s, opacity 0.3s ease-out, transform 0.3s ease-out;
}

.dropdown-content a {
  padding: 12px 16px;
  background-color: #fff;
  display: block;
  border: 1px solid #ccc;
  border-bottom: none;
  transition: background-color 0.3s ease-out;
}

.dropdown-content a:first-child {
  border-top: none;
}

.dropdown-content a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #ccc;

}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}